html {
	font-size: 10px;
}

.board {
	background-color: mediumpurple;
	font-size: 0;
	padding: 1rem;
}

.cell {
	box-shadow: inset .09rem .09rem .09rem .05rem #ccc;
	display: inline-block;
	background-color: white;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
}

.cell:hover {
	box-shadow: inset 0 0 0 .07rem black;
	background-color: #DDD;
}

.cell.is-active {
	background-color: black;
}
