
html {
	height: 100%;
	font-size: 9px;
}

body {
	height: 100%;
	background: mediumpurple;
	background: linear-gradient(135deg, mediumpurple, white);
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	font-weight: 500;
}

.app p {
	font-size: 3rem;
	color: white;
	text-align: center;
	line-height: 5rem;
}

.app input {
	background: transparent;
	border: none;
	color: white;
	font-family: monospace;
	font-weight: 300;
	font-size: 3rem;
	border-bottom: 1px solid white;
	width: 3em;
	text-align: center;
	padding-left: 0.5em;
}

.app button {
	background: transparent;
	border: 2px solid white;
	font-size: 2rem;
	color: white;
	margin: 0 1rem;
	padding: .5rem 1.5rem;
	border-radius: 5px;
	font-weigth: bold;
	outline: none;
}

.app button:hover, .app button:active {
	color: #494368;
	border-color: #494368;
}

.app button:hover {
	cursor: pointer;
}

.digit {
	position: relative;
	float: left;
	width: 8rem;
	height: 12rem;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	font-size: 9rem;
	margin: 0 .5rem;
}

.base {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #333;
}

.flap {
	display: none;
	position: absolute;
	width: 100%;
	height: 50%;
	background-color: #fff;
	left: 0;
	top: 0;
	border-radius: 5px;
	transform-origin: 50% 100%;
	backface-visibility: hidden;
	overflow: hidden;
}

.flap.over {
	z-index: 2;
}


.flap.over.front div {
	transform: translateY(0.82rem);
}

.flap.over.back div {
	transform: rotate(180deg) translateY(-0.82rem);
}


.flap.under {
	z-index: 1;
}

.flap.under div {
	transform: translateY(0.82rem);
}

.flap.front {
	animation: flip-down-front ease-in both;
}

.flap.back {
	animation: flip-down-back ease-in both;
}

@keyframes flip-down-front {
	0% {
		transform: rotateX(0deg);
		background-color: #fff;
		color: #333;
	}
	100% {
		transform: rotateX(-180deg);
		background-color: #999;
		color: #1E1E1E;
	}
}

@keyframes flip-down-back {
	0% {
		transform: rotateY(180deg) rotateX(0deg);
		background-color: #999;
		color: #1E1E1E;
	}
	100% {
		transform: rotateY(180deg) rotateX(180deg);
		background-color: #fff;
		color: #333;
	}
}
